<form action="/robots" method="POST">
  <h1>Add you a new Robot</h1>
  <input type="text" name="robot[name]" /></br>
  <input type="text" name="robot[city]" /></br>
  <input type="text" name="robot[state]" /></br>
  <input type="text" name="robot[department]" /></br>
  <input type="submit" value="New Robot" />
</form>
